:root {
  /* colors */
  /* NOTE tint colors are 15% transparent */
  /* primary */
  --color-brand-primary: #262626;
  --color-brand-black: #000;
  --color-brand-red: #ea2328;
  --color-brand-red-tint: #fcdedf;
  --color-brand-white: #fff;
  /* secondary */
  --color-brand-secondary: #fff;
  --color-brand-blue: #4287d6;
  --color-blue-rgb: 87, 160, 255;
  --color-brand-light-blue: #00ace0;
  --color-brand-light-blue-tint: #d9f3fb;
  --color-brand-pink: #eb4971;
  --color-brand-green: #00b9be;
  --color-brand-purple: #b36cdb;
  --color-brand-purple-tint: #f4e9fa;
  --color-brand-tip: #2ca01c;
  --color-brand-note: #0074e0;
  --color-brand-important: #b36cdb;
  --color-brand-warning: #ea2328;
  --color-brand-caution: #ff8f00;
  /* tertiary */
  --color-gray-rgb: 115, 118, 138;
  --color-brand-gray1: #292b36;
  --color-brand-gray2: #3d4151;
  --color-brand-gray3: #52566c;
  --color-brand-gray4: #73768a;
  --color-brand-gray5: #c8cbdf;
  --color-brand-gray6: #eaebf1;
  --color-brand-gray7: #f9f9f9;
  --color-brand-gray8: #e5e5e5;
  --color-brand-gray9: #bfbfbf;
  /* --color-brand-silver: #ccc; */
  --color-brand-silver: #c1c1c1;
  --color-brand-blue-secondary: #0074e0;
  --color-brand-blue-secondary-light: #2689e5;
  --color-brand-blue-secondary-extra-light: #73b3ee;
  --color-brand-blue-tint: #d9eafb;
  --color-brand-grey: #666;
  --color-brand-orange: #fc9c0c;
  --color-brand-orange-tint: #fff0da;
  --color-muted: var(--color-brand-gray);
  --color-text: #333;
  --color-code: var(--color-brand-pink);
  --color-border: var(--color-brand-silver);
  --checkbox-border-color: var(--color-brand-gray9);

  /* Color for URL */
  --color-link: var(--color-brand-blue-secondary);
  --color-link-active: var(--color-brand-blue-secondary-light);
  --color-link-hover: var(--color-brand-blue-secondary-extra-light);

  /* --color-border-table: #666; */
  --color-border-table: #dadada;
  --color-shade: #f3f3f3;
  --color-navbar-bg: var(--color-brand-black);
  --color-navbar-text: var(--color-brand-white);
  --color-footer-bg: var(--color-shade);
  --color-footer-bg-gray: var(--color-brand-black);
  --color-footer-text: var(--color-text);

  /* Color for code block  */
  --hljs-attr: #407787;
  --hljs-string: #295d1e;
  --hljs-number: #0711ba;
  /* Colors defined by default template */
  --color-white: #fff;
  --color-smoke-10: #fefefe;
  --color-smoke-30: #fafafa;
  --color-smoke-50: #f5f5f5;
  --color-smoke-70: #f0f0f0;
  --color-smoke-90: #e1e1e1;
  --color-gray-10: #c1c1c1;
  --color-gray-30: #9c9c9c;
  --color-gray-40: #8e8e8e;
  --color-gray-50: #808080;
  --color-gray-70: #5d5d5d;
  --color-jet-20: #4a4a4a;
  --color-jet-30: #424242;
  --color-jet-50: #333;
  --color-jet-70: #222;
  --color-jet-80: #191919;
  --color-black: #000;
  /* fonts */
  --rem-base: 18; /* used to compute rem value from desired pixel value (e.g., calc(18 / var(--rem-base) * 1rem) = 18px) */
  --body-font-size: 1.0625em; /* 17px */
  --body-font-size--desktop: 1.125em; /* 18px */
  --body-font-size--print: 0.9375em; /* 15px */
  --body-line-height: 1.15;
  --body-font-color: var(--color-jet-70);
  --body-font-family: "Gotham", sans-serif;
  --body-font-weight-bold: 500;
  --monospace-font-family: "Roboto Mono", monospace;
  --monospace-font-weight-bold: 500;
  /* Font weight */
  --weight-light: 300;
  --weight-normal: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;
  /* base */
  --body-background: var(--color-white);
  --panel-background: var(--color-smoke-30);
  --panel-border-color: var(--color-smoke-90);
  --scrollbar-track-color: var(--color-smoke-30);
  --scrollbar-thumb-color: var(--color-gray-10);
  --scrollbar_hover-thumb-color: var(--color-gray-30);
  /* navbar */
  --navbar-background: var(--color-jet-80);
  --navbar-font-color: var(--color-white);
  --navbar_hover-background: var(--color-black);
  --navbar-button-background: var(--color-brand-red);
  --navbar-button-border-color: var(--color-brand-red);
  --navbar-button-font-color: var(--color-brand-white);
  --navbar-menu-border-color: var(--panel-border-color);
  --navbar-menu-background: var(--color-white);
  --navbar-menu-font-color: var(--body-font-color);
  --navbar-menu_hover-background: var(--color-smoke-50);
  /* nav */
  --nav-background: var(--panel-background);
  --nav-border-color: var(--color-gray-10);
  --nav-line-height: 1.35;
  --nav-heading-font-color: var(--color-jet-30);
  --nav-muted-color: var(--color-gray-70);
  --nav-panel-divider-color: var(--color-smoke-90);
  --nav-secondary-background: var(--color-smoke-70);
  /* toolbar */
  --toolbar-background: var(--panel-background);
  --toolbar-border-color: var(--panel-border-color);
  --toolbar-font-color: var(--color-gray-70);
  --toolbar-muted-color: var(--color-gray-40);
  --page-version-menu-background: var(--color-smoke-70);
  --page-version-missing-font-color: var(--color-gray-40);
  /* admonitions */
  --caution-color: #a0439c;
  --caution-on-color: var(--color-white);
  --important-color: #d32f2f;
  --important-on-color: var(--color-white);
  --note-color: #217ee7;
  --note-on-color: var(--color-white);
  --tip-color: #41af46;
  --tip-on-color: var(--color-white);
  --warning-color: #e18114;
  --warning-on-color: var(--color-white);
  /* doc */
  --doc-font-color: var(--color-jet-50);
  --doc-font-size: inherit;
  --doc-font-size--desktop: calc(17 / var(--rem-base) * 1rem);
  --doc-line-height: 1.6;
  --doc-margin: 0 auto;
  --doc-margin--desktop: 0 2rem;
  --heading-font-color: var(--color-jet-80);
  --heading-font-weight: bold;
  --alt-heading-font-weight: var(--body-font-weight-bold);
  --section-divider-color: var(--panel-border-color);
  --link-font-color: #1565c0;
  --link_hover-font-color: #104d92;
  --link_unresolved-font-color: var(--important-color);
  --abstract-background: var(--color-smoke-70);
  --abstract-font-color: var(--color-jet-20);
  --abstract-border-color: var(--panel-border-color);
  --admonition-background: var(--color-white);
  --admonition-label-font-weight: var(--body-font-weight-bold);
  --caption-font-color: var(--color-gray-70);
  --caption-font-weight: var(--body-font-weight-bold);
  --code-background: var(--panel-background);
  --code-font-color: var(--body-font-color);
  --example-background: var(--color-white);
  --example-border-color: var(--color-gray-70);
  --kbd-background: var(--panel-background);
  --kbd-border-color: var(--color-gray-10);
  --pre-background: var(--panel-background);
  --pre-border-color: var(--panel-border-color);
  --pre-annotation-font-color: var(--color-gray-50);
  --quote-background: var(--panel-background);
  --quote-border-color: var(--color-gray-70);
  --quote-font-color: var(--color-gray-70);
  --quote-attribution-font-color: var(--color-gray-40);
  --sidebar-background: var(--color-smoke-90);
  --table-border-color: var(--color-brand-red);
  --table-stripe-background: var(--panel-background);
  --table-footer-background: linear-gradient(to bottom, var(--color-smoke-70) 0%, var(--color-white) 100%);
  /* toc */
  --toc-font-color: var(--nav-muted-color);
  --toc-heading-font-color: var(--doc-font-color);
  --toc-border-color: var(--panel-border-color);
  --toc-line-height: 1.2;
  /* footer */
  --footer-line-height: var(--doc-line-height);
  --footer-background: var(--color-smoke-90);
  --footer-font-color: var(--color-gray-70);
  --footer-link-font-color: var(--color-jet-80);
  /* dimensions and positioning */
  --navbar-height: calc(63 / var(--rem-base) * 1rem);
  --toolbar-height: calc(45 / var(--rem-base) * 1rem);
  --drawer-height: var(--toolbar-height);
  --body-top: var(--navbar-height);
  --body-min-height: calc(100vh - var(--body-top));
  --nav-height: calc(var(--body-min-height) - var(--toolbar-height));
  --nav-height--desktop: var(--body-min-height);
  --nav-panel-menu-height: calc(100% - var(--drawer-height));
  --nav-panel-explore-height: calc(50% + var(--drawer-height));
  --nav-width: calc(270 / var(--rem-base) * 1rem);
  --toc-top: calc(var(--body-top) + var(--toolbar-height));
  --toc-height: calc(100vh - var(--toc-top) - 2.5rem);
  --toc-width: calc(162 / var(--rem-base) * 1rem);
  --toc-width--widescreen: calc(216 / var(--rem-base) * 1rem);
  --doc-max-width: calc(720 / var(--rem-base) * 1rem);
  --doc-max-width--desktop: calc(828 / var(--rem-base) * 1rem);
  /* Spacing variables */
  --base-space: 1rem; /* ~ 16px */
  --base-small-space: 0.75rem; /* ~ 12px */
  --base-extra-small-space: 0.5rem; /* ~ 8px */
  --base-medium-space: 1.5rem; /* ~ 24px */
  --base-large-space: 2rem; /* ~ 32px */
  --base-extra-large-space: 2.5rem; /* ~ 40px */
  --column-space: 2.5rem; /* ~ 40px */
  --admonition-icon-space: 1rem; /* ~ 16px */
  --admonition-content-space: 1rem; /* ~ 16px */
  /* stacking */
  --z-index-nav: 1;
  --z-index-toolbar: 2;
  --z-index-page-version-menu: 3;
  --z-index-navbar: 4;
}
