# This is a workflow to publish the Style Guide site to GitHub Pages

name: Publish to GitHub Pages

on:
  # Triggers the workflow on push or pull request events but only for the "style-guide-site" branch
  push:
    branches: [ "style-guide-site" ]
  pull_request:
    branches: [ "style-guide-site" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: Install Antora 
        run: npm i -global @antora/cli@3.1
      - name: Install Antora Site Generator
        run: npm i -global @antora/site-generator@3.1
      - name: Generate Site
        run: npx antora antora-playbook.yml
      - name: Publish to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./style-guide